.paperOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url("/src/assets/images/bg-texture.webp");
  mix-blend-mode: multiply;
  /* pointer-events: none; */
  
  height: fit-content ;
  z-index: 99;
}

* {
  border: 1px solid whitesmoke;
}