/* App.module.css */
.paperOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Textura */
  background-image: url("/src/assets/images/bg-texture.webp");
  background-repeat: repeat;

  /* Mezcla */
  opacity: 0.15;
  /* Ajusta la intensidad de la textura aquí */
  mix-blend-mode: overlay;
  /* Esto hará que la textura reaccione a los colores de la animación */

  /* Lógica */
  pointer-events: none;
  /* CRUCIAL: Permite clickear los botones debajo */
  z-index: 10;
  /* Encima de la animación (z-0), debajo del contenido (z-20) */
}