.paperOverlay {
  position: fixed;
  /* Fixed para que cubra toda la pantalla siempre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  /* Imagen de textura */
  background-image: url("/src/assets/images/bg-texture.webp");
  background-repeat: repeat;

  /* Control de visibilidad */
  opacity: 0.1;
  /* Valor bajo para que sea sutil sobre el negro */
  pointer-events: none;
  /* Importante: para que no bloquee los clicks en botones */

  z-index: 1;
  /* Un z-index bajo para que esté justo detrás del contenido pero sobre el fondo */
}