@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

@font-face {
	font-family: "rubik-mono-one";
	src: url("/src/assets/fonts/RubikMonoOne-Regular.ttf");
}

@font-face {
	font-family: "consolas";
	src: url("/src/assets/fonts/Consolas.ttf");
}

@font-face {
	font-family: "inter";
	src: url("/src/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
	font-family: "impact";
	src: url("/src/assets/fonts/impact.woff");
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1a1a1a;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2e2e2e;
	/* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #675581;
}

* {
	/* border: 2px solid red; */
}
